<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
  <!--Mail-->
  <add key="SenderName" value="Rohith"/>
  <add key="FromMailId" value="Rohith.VenkataRamanaNanthan@odessainc.com"/>
  <add key="FromMailPassword" value="Herculesturbo+2010"/>
  <!--<add key="ToMailIds" value="Kirubakaran.G@odessainc.com,Satya.Narayan@odessainc.com"/>-->
  <add key="ToMailId" value="rohithv97@outlook.com"/>
  <add key="CCMailIds" value="rohithv97@outlook.com,rohithv97@outlook.com"/>
  <add key="MailSubject" value="Daily Status"/>
  <add key="smtpClient" value="odessainc-com.mail.protection.outlook.com"/>
  <add key="smtpHost" value="smtp.office365.com"/>
  <add key="smtpDomain" value="odessainc.com"/>
  <add key="smtpPort" value="25"/>
  <!--Excel-->
  <add key="ExcelFilePath" value="G:\Rohith\Odessa\Log.xlsm"/>
  <!--Actitime-->
  <add key="driverURL" value="https://online.actitime.com/odessainc/login.do"/>
  <add key="driverUsername" value="rohith.venkataramanananthan@odessainc.com"/>
  <add key="driverPassword" value="HerculesTurboDrive+2010"/>
  <add key="TimeLogged" value="8:00"/>
</appSettings>
</configuration>