<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="FoldersToCopyForBackup" value="bin,Content,DomainAssemblies,Views,ViewScripts,Scripts"/>
    <add key ="FilesToCopyForBackup" value="Global.asax,app_offline1.html"/>
    <add key="LessorPortalPublishPath" value="D:\Publish Folder"/>
    <add key="BrokerPortalPublishPath" value="D:\Publish_BrokerPortal"/>
    <add key="WindowsServicePublishPath" value="D:\Publish_WindowsServices"/>
    <add key="IsWindowsServiceRequired" value="true"/>
    <add key="FileExtensionsToExclude" value=".config"/>
    <add key="FoldersToAdd" value="Lw.WindowsServices"/>
    <add key="FilesForWindowsServices" value="Lw.Domain.Extension.dll,Lw.Domain.Resource.dll,Lw.Domain.dll,Lw.Domain.Base.Extension.dll,Lw.Domain.Base.Resource.dll"/>
    <add key="ExcelPath" value="Data.xlsx"/>
    <add key="ClearOldBackups" value="false"/>
    <add key="NumberOfOldBackupsToRetain" value="2"/>
    <add key="CleanUpRequired" value="false"/>
    <add key="FileExtensionsToCleanUp" value=".dll,.css,.pdb,.js"/>
    <add key="LogFilePath" value="D:\Release Logs\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
