################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomateMail/.vs/AutomateMail/v15/Server/sqlite3
